/* RESET BÁSICO */
body {
    margin: 0;
    font-family: "Playfair Display", serif;
}

/* PALETA DE CORES */
header {
    background: #5c3a2e;
    color: white;
    text-align: center;
    padding: 20px;
}

/* imagem pequena */
.img-pequena {
    width: 100px;
}

/* MENU */
nav a {
    color: #ffe8d6;
    text-decoration: none;
    margin: 10px;
}

/* links visitados */
nav a:visited {
    color: #ffe8d6;
}

/* hover */
nav a:hover {
    color: #ffd6e0;
}

main {
    background: #fff3e6;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

/* FLEXBOX PRODUTOS */
.produtos {
    display: flex;
    gap: 25px;           /* espaço entre cards */
    flex-wrap: wrap;     /* quebra linha se faltar espaço */
    margin-top: 20px;    /* distância do título */
}

/* ÁREA DOS PRODUTOS */
.produtos{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    padding:40px;
}

/* CARD */
.card{
    width:220px;
    background:white;
    border-radius:12px;
    overflow:hidden;

    transition:0.3s;
}

/* HOVER */
.card:hover{
    transform:translateY(-6px);
}

/* IMAGEM */
.card img{
    width:100%;
    height:260px;
    object-fit:cover;

    transition:0.3s;
}

.card:hover img{
    transform:scale(1.05);
}

/* TÍTULO */
.card h3{
    font-size:20px;
    margin:15px 10px 10px;
    color:#3b1f1f;
}

/* PREÇO */
.preco{
    color:#8b3e5f;
    font-size:24px;
    font-weight:bold;

    margin-left:10px;
}

/* BOTÃO */
.card button{
    background:#5c3a2e;
    color:white;
    border:none;

    padding:10px 15px;
    border-radius:8px;

    margin:15px 10px 20px;

    cursor:pointer;
}

.card button:hover{
    background:#7a4b39;
}

/* FLEXBOX IMAGENS */
.imagens {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.imagens img {
    width: 200px;
    border-radius: 10px;
}

footer {
    background: #5c3a2e;
    color: white;
    text-align: center;
    padding: 15px;
}

/* ===== HEADER DAS OUTRAS PÁGINAS ===== */
.header-paginas {
    background: linear-gradient(#5c3a2e, #7a4b3a);
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

/* centralizar menu dentro do header */
.header-paginas .menu {
    background: transparent;
    text-align: center;
    padding-top: 20px;
}

.header-paginas .menu a {
    color: white;
    margin: 0 10px;
}

.titulo-header h1 {
    margin-top: 20px;
    font-size: 36px;
}