/* RESET BÁSICO */
body {
    font-family: PLayfair Display, serif;
    margin: 0;
    background: #ffe8d6;
    color: #5c3a2e;
}

/* MENU */
nav {
    background: #5c3a2e;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: Playfair Display, serif;
}

nav a:hover {
    text-decoration: underline;
}

/* TÍTULOS */
h1 {
    margin-left: 40px;
}

h2 {
    margin-left: 40px;
    margin-top: 30px;
}

/* TEXTOS */
p {
    margin-left: 40px;
}

/* BOTÕES (para usar depois nos cards) */
button {
    background: #5c3a2e;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #7a4b3a;
}